#app
{
  font-family:'Roboto',sans-serif;
  text-align: center;
  color:#2c3e50;
  margin-top: 6px;
  width: 100%;
}
#inspire
{
   font-family:'Roboto',sans-serif;
}
.container.fill-height {
  align-items:normal;
}
a.side_bar_link
{
  display: flex;
  text-decoration: none;
}
.card__title--primary, .card__text
{
  text-align: left;
}
.card
{
  height: 1000% !important;
}
